@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Libre Franklin", sans-serif;
    max-width: 1200px;
    margin: 10px;
}

h1{
    font-size: 1 rem;
    text-transform:uppercase;
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;

}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
/* top navigation */

#top-nav{
    display:none;
    position: absolute;
    right: 0;
    top: 50px;
    border:solid 1px #000;
    background-color: #fff;
    z-index: 100;
}

#top-nav ul a {
    display: block;
    padding: 5px;
    border-bottom: solid 1px #000;
}

#top-nav ul{
    padding:0;
    list-style-type: none;
    border-bottom: solid 1px #000;
}
#top-nav input{
    display: block;
    margin: 10px 5px ;
}
.material-symbols-outlined{
    float: right;
    
}

/* program navigation*/

.dropdown{
    background-color: #6C757D;
    margin-bottom: 1em;
    border-radius: 10px;
}

.dropdown a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.dropdown li a:hover {
    background-color: lightgray;
    color: #000;
}

.dropdown ul {
    background-color: #414141;
    display: none;

}
.dropdown:hover ul {
    display: block;
}

.hero {
    background: url(images/QueensCollege.webp) no-repeat top/cover;
    padding: 2em;
    color: white;
}

.hero p {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1em;
    text-align: justify;
}

a.btn {
    background-color: #BE0E3E;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor:pointer;
    padding: 0.5rem;
    border-radius: 20%;
    text-align: center;
    text-decoration: none;
}

a.btn:hover {
    background-color: #7e0a29;
}

article {
    margin-bottom: 3em;
}

article img {
    max-width: 100%;
}

@media (min-width: 768px) {

    .material-symbols-outlined {
        display: none;
    }

    #top-nav {
        display: flex;
        position: static;
        border: none;
    }
    #top-nav ul {
        display: flex;
    }
    #top-nav ul a {
        border: none;
    }
    #top-nav li {
        margin: 0 1em;
    }
}
